.home-header {
	background: linear-gradient(top, #4f4f4f,  #000);
	.container{
		.jumbotron-heading{
			color: #fff;
		}
		.text-muted{
			color: #ddd;
		}
	}
}

.container{
	.row{
		.col-md-4{
			h2{
				font-size: 22px;
			}
			p{
				font-size: 12px;
				line-height: 1.8em;
				a{
					font-size: 12px;
				}
			}
		}
	}
}