<section class="home-header jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">我的首页</h1>
    <p class="lead text-muted">这是一个很简单的说明,其实我并没有设么想说的东西,只是想敲点东西在这里,站站位置,仅此而已.</p>
    <p>
      <a routerLink="page/user" class="btn btn-primary">个人中心</a>
      <a routerLink="page/blog" class="btn btn-info">发帖中心</a>
    </p>
  </div>
</section>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4" *ngFor='let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]'>
      <h2>文章标题{{item}}</h2>
      <p>文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介</p>
      <p><a class="btn btn-info" href="#" role="button">查看详情 &raquo;</a></p>
      <br/>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2017 Company, Inc.</p>
  </footer>
</div>